html,
body {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

canvas {
  width: 80%; 
  display: block;
  margin: 0 auto; 
}

p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

#dropzone {
  padding: 20px;
  border-style: dashed;
  font-family: Arial, sans-serif;
  font-size: 30pt;
  width: 60%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #88AB8E;
  background-color: transparent;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
  font-size: 15pt;
  text-align: center;
}


#bk {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #88AB8E;
  background-color: transparent;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
  font-size: 15pt;
  text-align: center;
}
